@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/classroom.jpg" align="middle" height="600px" width="1100px"  />
    <br />
    <br />
    <table border="0"><tr> <td align="center"><p>A student is primarily a person enrolled in a school or other educational institution. In the United Kingdom and most commonwealth countries, the term "student" denotes those enrolled in secondary schools and higher; those enrolled in primary/elementary schools are called "pupils".</p></td>
     </tr></table>

</div>
